@model IEnumerable<MassMedia.DataAccess.Entities.ArticleEntity>

@{
    ViewData["Title"] = "Список предложенных новостей";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

<style>
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    .card-img-top {
        object-fit: cover;
    }
</style>

<div class="container py-4">

    <h2 class="text-center mb-4">Список предложенных новостей</h2>

    @if (Model.Count() == 0)
    {
        <h3 class="text-center mt-4">Новостей нет</h3>
    }

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var article in Model)
        {
            <div class="col">
                @Html.Partial("~/Views/Article/AcceptCard.cshtml", article)
            </div>
        }
    </div>

</div>
